@model IEnumerable<FirstDbMVCApp.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student s in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Course.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@s.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@s.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@s.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>