@model IEnumerable<AdvancedDatabase_Lab4.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index - Rooms</h1>

<p>
    <a asp-action="Create">Create New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Room r in Model) {
        <tr>
            <td>
                    <h3>@r.RoomNumber</h3>
            </td>
            <td>
                <h3>@r.Capacity</h3>
            </td>
            <td>
                <h3>@r.Section</h3>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@r.RoomNumber">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>