@model IEnumerable<AdvancedDatabase_Lab4.Models.Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index - Clients</h1>

<p>
    <a asp-action="Create">Create New Client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Client c in Model) {
        <tr>
            <td>
                    <h3>@c.Id</h3>
            </td>
            <td>
                <h3>@c.FirstName</h3>
            </td>
            <td>
                <h3>@c.LastName</h3>
            </td>
            <td>
                <h3>@c.PhoneNumber</h3>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@c.Id">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>