@model IEnumerable<FirstDbMVCApp.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*DisplayNameFor returns the name of the property (column)*@
                @Html.DisplayNameFor(model => model.Title) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Course c in Model) {
        <tr>
            <td>
                    <h3>@c.Title</h3>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@c.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@c.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*
@foreach (Course c in Model)
{
    <div>
        <h3>@c.Title</h3>

        <ul>
            @foreach (Student s in c.EnrolledStudents)
            {
                <li>@s.FullName</li>
            }
        </ul>
    </div>
}
*@

